@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300,100); 

body { 
	background-color: #DBFFF4;
	text-align: center;
}

div#wrapper { 
	min-width: 600px;
}

img {
	width:150px;
	border-radius:0%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

img.introimg {
	border-radius:50%;
	width:400px;
}

div.column1 {
	float: left;
	margin: 0px;
	width: 50%;
	padding-top: 0px;
	padding-bottom: 50px;
}

div.column2 {
	float: left;
	margin: 0px;
	width: 50%;
	padding-top: 0px;
	padding-bottom: 50px;
}

div.breakbar {
	font-family: 'Roboto:400', sans-serif;
	text-align: center;
	padding-top: 5px;
	padding-bottom:5px;
	padding-left: 0px;
	padding-right: 0px;
  	margin-bottom: 5px;
  	margin-right: 0px
  	margin-left: 0px;
  	font-size: 50px;
/*  	box-shadow: 3px 3px 3px 0px rgba(1C3F34);*/
  	color: inherit;
  	background-color: #5FD4B1;
  	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
          border-radius: 15px;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
    color: F53D65;
    letter-spacing: 5px;
    clear: both;
}

div.intro { 
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 800px;
}

div.stuff { 
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 960px;
}

div.resume {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 800px;
}

div.aboutme {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 800px;
}

a:link { 
	color: F53D65;
	text-decoration: none;
}

a:visited { /*This styles the visited links*/
	color: 8552FF;
	text-decoration: none;
}

a:hover { 
	color: FF5900;
	text-transform: uppercase;
}

strong {
	color: F53D65;
}

em {
	color: F53D65;
}

