@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300,100); 

body { 
	background-color: #DBFFF4;
	text-align: center;
}

div#wrapper { 
	min-width: 600px;
}

img {
	width:150px;
	border-radius:0%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

img.introimg {
	border-radius:50%;
	width:400px;
}

div.breakbar {
	font-family: 'Roboto:400', sans-serif;
	text-align: center;
	padding: 5px;
  	margin-bottom: 5px;
  	font-size: 50px;
  	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  	color: inherit;
  	background-color: #5FD4B1;
  	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
          border-radius: 6px;
    text-decoration: none;
    color: F53D65;
}

div.intro { 
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 800px;
}

div.stuff { 
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 960px;
}

div.resume {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 800px;
}

div.aboutme {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0 auto;
	max-width: 800px;
}

a:link { 
	color: F53D65;
	text-decoration: none;
}

a:visited { /*This styles the visited links*/
	color: 8552FF;
	text-decoration: none;
}

a:hover { 
	color: FF5900;
}